 body {
 	background-color: #232323;
 	margin: 0;
 	font-family: "Maven Pro","Avenir";
 }

 .carre {
 	width: 30%;
 	background-color: purple;
 	padding-bottom: 30%;
 	float: left;
 	margin: 1.66%;
 	border-radius: 10%;
 	transition: background 0.6s;
 	-webkit-transition: background 0.6s;
 	-moz-transition: background 0.6s;
 }

#afficheCouleur {
	font-size: 200%;
}

#conteneur {
 	margin:20px auto;
 	max-width: 600px;
 }

 h1 {
 	line-height: 1.1;
 	color: white;
 	font-weight: normal;
 	text-align: center;
 	background: steelblue;
 	margin: 0;
 	text-transform: uppercase;
 	padding: 20px 0; 
 	transition: background 3s;
 	-webkit-transition: background 3s;
 	-moz-transition: background 3s;
 }

#message {
	display: inline-block;
	width:20%;
}

 #stripe {
 	background: white;
 	height: 30px;
 	text-align:center ;
 	text-color: black;
 }

 .selection {
 	color: white;
 	background-color: steelblue;
 }

 button {
 	margin: 0 -4px;
 	border:none;
 	background:none;
 	outline:none;
 	text-transform: uppercase;
 	color:steelblue;
 	height: 100%;
 	letter-spacing: 1px;
 	font-size: inherit;
 	transition: all 0.2s;
 	-webkit-transition:: all 0.2s;
 	-moz-transition: all 0.2s;
 }

 button:hover {
 	color: white;
 	background-color: steelblue;
	cursor: pointer;
	cursor: hand;
 }
